<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Read</title>
</head>
<body>
	<table border="1px solid black" align="center" cellpadding="15" cellspacing="0">
		<tbody>
			<th>Title</th>
			<th>Description</th>
			<th>Created_at</th>
			<th>Updated_at</th>
			<th>Edit</th>
			<th>Delete</th>
		</tbody>
		{%for i in result%}
		<tr>
			<td>{{i.title}}</td>
			<td>{{i.description}}</td>
			<td>{{i.created_at}}</td>
			<td>{{i.updated_at}}</td>
			<td><a href="/user/Update/{{i.id}}">Edit</a></td>
			<td><a href="/user/Delete/{{i.id}}">Delete</a></td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>